@media screen and (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 8vw 2vw 70vw;
    grid-template-areas:
      ". return ."
      ". first-row ."
      ". . .";
  }
  body {
    grid-template-rows: auto 150vw auto;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "headerarea headerarea headerarea"
      "mainarea mainarea mainarea"
      "footerarea footerarea footerarea";
  }

  header {
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  footer {
    bottom: 0;
    position: sticky;
  }

  .phone_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
  }

  .phone_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
  }
  .phone_header a {
    text-align: center;
  }

  .phone_header img {
    width: 50%;
  }

  .phone_logo {
    width: 20%;
  }

  .top_header {
    display: none;
  }
  .main_buttons {
    display: none;
  }

  .phone_top_frame {
    display: inline;
    grid-area: pTop;
  }

  .return_line {
    grid-area: return;

    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    /* background-color: chartreuse; */
    margin-top: 1%;
    height: 60%;
  }

  .return_arrow {
    position: relative;
    top: 50%;
    right: 10%;
    max-width: 10%;
    margin-right: 10px;
  }

  .return_line h2 {
    display: none;
  }

  .line {
    display: none;
  }

  .preorder-row {
    grid-area: first-row;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-content: center;
  }

  .pre-game {
    background-color: var(--pure-background);
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    margin: 0 5%;
    max-width: 100%;
    height: 100%;
  }

  .game-brand {
    display: flex;
    flex-direction: column;
  }

  .game-brand h1 {
    text-align: center;
    margin: 0px;
    font-size: 10px;
  }

  .game-brand h3 {
    color: #9e9e9e;
    font-size: 15x;
    margin-left: 8%;
  }

  .game-brand img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .pre-price {
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .pre-price img{
    width: 10%;
}
  .pre-price h2 {
    font-size: 7px;
    margin-left: 8%;
  }

  .pre-price button {
    color: white;
    background-color: transparent;
    border-style: solid;
    border-color: var(--second-theme);
    border-width: 3px;
    padding: 4px;
    border-radius: 6px;
    font-size: 10px;
    margin-left: 5%;
  }
}
