header {
    background-color: var(--pure-background);
    height: 130px;
    padding: 30px;
    padding-right: 141px;
    padding-left: 141px;
  }
  
  .logo {
    flex: 1;
    display: flex;
  }
  
  .logoimg {
    margin-right: 8.6px;
  }
  .textlogo {
    margin-right: 30px;
  }
  
  .logoimg img {
    height: 80px;
  }
  
  .textlogo img {
    height: 69px;
  }
  
  .TopHeader {
    flex: 1;
    display: flex;
    float: right;
    position: absolute;
    top: 3%;
    right: 5%;
  }
  
  .Search {
    position: relative;
    background-color: #ffffff;
    right: 200px;
    width: 600px;
    height: 50px;
    border-radius: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .Search input {
    all: unset;
    font: 16px system-ui;
    color: #707070;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  
  ::placeholder {
    color: #707070;
    opacity: 0.7;
  }
  
  .Search button {
    all: unset;
    cursor: pointer;
    width: 50px;
  }
  
  .Search button svg {
    color: #292929;
    fill: currentColor;
    width: 24px;
    padding: 10px;
  }
  
  .SignIn {
    background-color: var(--background-shade);
    padding: 10px;
    border-radius: 100px;
    position: relative;
    right: 150%;
    display: flex;
  }
  
  .account {
    width: 31px;
  }
  .signicon {
    width: 68px;
    margin-left: 5px;
  }
  
  .cart {
    padding: 12px;
    width: 35px;
  }
  
  .cartholder {
    background-color: var(--background-shade);
  
    border-radius: 40px;
    position: relative;
    bottom: 55px;
    right: 50px;
    width: 63px;
  }
  
  .meny {
    width: 39px;
  }
  
  .menyholder {
    position: relative;
    bottom: 100px;
    left: 30px;
  }
  
  nav {
    position: relative;
    top: 21%
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
  }
  
  @media (min-width: 3000px) {
    ul li a {
      width: 500px;
      font-size: 1.5rem;
    }
    .sell{
        width: 250px;
    }
    .small{
        width: 250px;
    }
  }

  @media (max-width: 2000px) {
    ul li a {
      width: 300px;
      font-size: 0.9rem;
    }
  }
  @media (max-width: 1500px){
    .Search {
    width: 450px;
    }
  }
  
  .small {
    width: 208px;
  }
  
  .sell {
    width: 208px;
    background-color: var(--main-theme);
  }
  
  .plus {
    background-color: var(--second-theme);
  }
  
  a {
    background-color: var(--background-shade);
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 10px;
    width: 350px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
  
    display: inline-block;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    transition: 0.2s;
    background-color: white;
    color: black;
  }
  
  .plus:hover {
    transition: 0.2s;
    background-color: #0028b3;
    color: white;
  }
  .sell:hover {
    transition: 0.2s;
    background-color: #b3860c;
    color: white;
  }