main {
  display: grid;
  grid-template-rows: 50px auto auto;
  grid-template-columns: 15% auto auto 15%;
  grid-template-areas:
    ". . . ."
    ". new side ."
    ". . . .";
}

.phone_bottom {
  display: none;
}

.return_line {
  grid-area: return;

  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  /* background-color: chartreuse; */
  margin-top: 2.5%;
  height: 20%;
}

.return_arrow {
  max-width: 45px;
  margin-right: 10px;
}

.return_line h2 {
  font-size: 2vw;
  font-weight: 500;
  padding-right: 1%;
}

.line {
  background-color: #0d0d0d;
  max-width: 80%;
  width: 70%;
  height: 8px;
  margin-left: 10px;
}

.new-release{
  grid-area: new;
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}

.new-release h1{
  font-size: 3vw;
  margin: 0% 0 3% 0;
}

.new-game{

  cursor: pointer;
}

.game-img{
  width: 100%;
}

.new-text{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  background-color: #0D0D0D;
}

.new-game:hover .new-text {
  transition: .2s;
  background-color: #303030;
}


.new-text h2{
  font-size: 2vw;
  margin: 0 10px;
  padding: 10 0;
}

.new-text h3{
  background-color: var(--second-theme);
  width: 25%;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10 0;
}

.side-row{
  grid-area: side;
  margin-top: 3%;
}

.recommended{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bestseller h1{
  font-size: 1.5vw;
  margin: 5% 0 1% 0;
}

.bestseller{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recommended h1{
  color: var(--main-theme);
  font-size: 1.5vw;
  margin: 5% 0 1% 0;
}

.rec-row{
  display: flex;
  
}

.row-game{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2%;
}

.row-game img{
  width: 100%;
}

.row-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0D0D0D;
  /* height: 2.5rem; */
}

.row-game:hover .row-text {
  transition: .2s;
  background-color: #303030;
}

.row-text h2{
  font-size: 0.6vw;
  margin: 0 10px;
  padding: 10 0;
}

.row-text h3{
  background-color: var(--second-theme);
  width: 25%;
  font-size: 0.7vw;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10 0;
}

.phone-box{
  display: none;
}