main {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "new . ."
    "new . ."
    ". . .";
}

.phone_bottom {
  display: none;
}

.return_line {
  grid-area: return;

  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  /* background-color: chartreuse; */
  margin-top: 2.5%;
  height: 20%;
}

.return_arrow {
  max-width: 45px;
  margin-right: 10px;
}

.return_line h2 {
  font-size: 2vw;
  font-weight: 500;
  padding-right: 1%;
}

.line {
  background-color: #0d0d0d;
  max-width: 80%;
  width: 70%;
  height: 8px;
  margin-left: 10px;
}

.new-release{
  grid-area: new;
  display: flex;
  flex-direction: column;
}

.new-game{
  width: 40%;
}

/* .arrows img{
  position: relative;
  top: 500px;
  width: 3%;
} */


.game-img{
  width: 100%;
}

.new-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0D0D0D;
  
}

.

.new-text h1{
  background-color: var(--second-theme);
  width: 12%;
  font-size: 2vw;
  padding: 4%;
  margin: 0;
}