:root {
  --pure-background: #0d0d0d;
  --background-color: #1d1d1d;
  --background-shade: #292929;
  --main-theme: #ffc424;
  --second-theme: #2454ff;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: auto 1fr auto; 
  color: white;
  min-height: 100%;


  grid-template-areas: 
  'headerarea headerarea headerarea'
  '. mainarea  .'
  'footerarea footerarea footerarea';
}

header {
  grid-area: headerarea;
  position: sticky;
  top: 0;
  background-color: var(--pure-background);
  /* grid-column: 1/4;
  grid-row: 1/1; */
  z-index: 2;
}

main {
  grid-area: mainarea;
}

footer {
  grid-area: footerarea;
  bottom: 0;
}

.copyright{
    display: flex;
    margin: 3%;
    justify-content: center;
}

.phone_header{
    display: none;
}


